:root {
  --main-font: 'Nunito Sans', sans-serif;
  --hero-font: 'Montserrat', sans-serif;
  --title-color: #292c31;
  --text-color: #5b5b5b;
  --accent-color: #16c7e4;
  --background-color: #f5f8fd;
  --white: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  max-width: 1920px;
  margin: 0 auto;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.carrent-page {
  color: var(--accent-color);
}
/* ------------------------heder------------------------ */
.navigation__list {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.social-list {
  display: flex;
}
.heder {
  border-bottom: 1px solid #e9e9e9;
}
.heder-container {
  padding: 0px;
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 60px;
  margin: 15px 158px 15px 0px;

  background: #16c7e4;
  border-radius: 10px;
}
.logo__icon {
  fill: var(--white);
}
.navigation__link {
  display: block;
  padding: 36px 0px;
  font-family: var(--main-font);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.06;
  color: var(--title-color);
  transition: color 250ms linear;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}
.navigation__item:not(:last-child) {
  margin-right: 34px;
}

/* ------------------------submenu------------------------ */
.submenu {
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.submenu__list {
  position: absolute;
  top: -5px;
  width: 250px;
  padding: 20px 10px;
  background-color: var(--white);
  border-radius: 5px;
}
.submenu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--title-color);
  transition: color 250ms linear;
}
.submenu__link:hover,
.submenu__link:focus {
  color: var(--accent-color);
}
.submenu__item:not(:last-child) {
  margin-bottom: 10px;
}
.submenu__button:hover .submenu {
  opacity: 1;
  pointer-events: auto;
}
/* ------------------------submenu------------------------ */
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 1px solid #16c7e4;
  border-radius: 5px;
  transition: background-color 250ms linear;
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__icon {
  fill: #5f6871;
  transition: fill 250ms linear;
}
.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white);
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
/* ------------------------end heder------------------------ */

/* ------------------------hero------------------------ */
.hero {
  margin: 0 auto;
  padding: 117px 0px 145px 0px;
  max-width: 1920px;
  height: 680px;
  background-image: url(../images/jpg/hero-men.png),
    radial-gradient(
      circle at bottom 200px right 620px,
      rgba(22, 199, 228, 0.3) 0%,
      rgba(22, 199, 228, 0) 40%
    ),
    linear-gradient(#10203c 0%, rgba(16, 33, 62, 0.92)), url(../images/jpg/hero-back.jpg);
  background-repeat: no-repeat;
  background-position: 970px 2px, right top, right top, right top;
}
.hero-container {
  padding: 0px;
}
.hero-title {
  margin-bottom: 10px;
  width: 580px;
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 74px;
  line-height: 1.21;
  color: var(--accent-color);
  text-shadow: 0px 0px 40px rgba(22, 199, 228, 1);
}
.hero__name {
  display: block;
  margin-bottom: 34px;
  font-family: var(--hero-font);
  width: 400px;
  font-weight: 800;
  font-size: 64px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: none;
}
.hero__text {
  width: 480px;
  margin-bottom: 50px;
  font-family: var(--hero-font);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
}
.hero__text-accent {
  color: var(--accent-color);
}
.hero-button {
  border: 0px;
  background: #16c7e4;
  border-radius: 5px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: var(--white);
  transition: box-shadow 250ms linear;
  text-transform: uppercase;
  width: 270px;
  height: 60px;
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
}
/* ------------------------end hero------------------------ */

/* ------------------------benefits------------------------ */
.title {
  text-align: start;
  margin-bottom: 25px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--title-color);
}
.benefits-title {
  margin-bottom: 25px;
}
.title-accent {
  color: var(--accent-color);
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
}
.benefits__item {
  position: relative;
  padding: 140px 20px 30px 20px;
  width: 285px;
  height: 298px;
  border: 1px solid #ededed;
  border-radius: 5px;
  overflow: hidden;
}
.benefits__item:not(:last-child) {
  margin-right: 20px;
}
.benefits__number {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
  text-transform: lowercase;
  color: var(--white);
  transform: rotate(-90deg);
  position: absolute;
  left: 20px;
  top: 20px;
}
.benefits__item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-50%, -50%);
  width: 188px;
  height: 188px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.benefits__main-text {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--title-color);
}
.benefits__text {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  color: var(--text-color);
}
/* ------------------------end benefits------------------------ */

/* ------------------------services------------------------ */
.services {
  background-color: var(--background-color);
}
.services-title {
  margin-bottom: 35px;
}
.services__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services__item:not(:last-child) {
  margin-right: 20px;
}
.services__item:nth-child(3) {
  margin-right: 0px;
}
.services__item:nth-child(-n + 3) {
  margin-bottom: 20px;
}
.service-type {
  background-color: var(--white);
  width: 386px;
  height: 717px;
  overflow: hidden;
  border-radius: 5px;
  transition: box-shadow 250ms linear;
}
.service-type:hover,
.service-type:focus {
  box-shadow: 0px -4px 25px rgba(22, 199, 228, 0.4);
}

.service-type__img {
  display: block;
}
.service-type__wraper {
  display: flex;
  flex-direction: column;

  width: 387px;
  min-height: 437px;
  padding: 30px 20px;
}

.service-type__title {
  margin-bottom: 25px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  color: var(--title-color);
  transition: color 250ms linear;
}
.service-type:hover .service-type__title,
.service-type:focus .service-type__title {
  color: var(--accent-color);
}

.service-type__text {
  flex-grow: 1;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color);
}
.button {
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 347px;
  padding: 16px 20px;
  border: 0px;
  border-radius: 5px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--white);
  transition: box-shadow 250ms linear;
}
.button:hover,
.button:focus {
  box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
}
.button-link {
  display: block;
  border: 1px solid #16c7e4;
  margin-bottom: 15px;
  background-color: var(--white);
  color: var(--accent-color);
  transition: background-color 250ms linear, color 250ms linear;
}
.button-link:hover,
.button-link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
/* ------------------------end services------------------------ */

/* ------------------------Form------------------------ */
.form {
  min-height: 521px;
  background-image: url(../images/jpg/form-back.jpg);
}
.container-form {
  position: relative;
  width: 100%;
  padding: 25px 50px;
  background-color: var(--white);
  border: 1px solid #ededed;
  border-radius: 10px;
}
.question-form {
  width: 642px;
}
.question-form__text {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
  margin-bottom: 40px;
}
.question-form__input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #4f4f4f;
}
.question-form__input {
  width: 312px;
  padding: 16px 25px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.button-form {
  display: block;
  width: 100%;
}
.question-form__wraper {
  display: flex;
  justify-content: space-between;
}
.question-form::after {
  content: '';
  display: block;
  width: 590px;
  height: 462px;
  background-image: url(../images/jpg/form-men.png);
  position: absolute;
  left: 610px;
  top: 0px;
}
/* ------------------------end Form------------------------ */

/* ------------------------about------------------------ */
.about {
  background-color: var(--background-color);
}
.about-container {
  display: flex;
}
.about__wraper-text {
  padding-left: 70px;
}
.about-title {
  margin-bottom: 5px;
}
.about__text {
  padding: 14px 20px;
  border: 1px dashed #16c7e4;
  border-radius: 5px;
  margin-bottom: 32px;

  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-color);
}
.about__text-accent,
.about-list__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: var(--title-color);
}
.about__name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--accent-color);
}
.about-list {
  padding-left: 30px;
}
.about-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.about-list__item::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--accent-color);
  left: -30px;
  top: 7px;
}
.about-list__item {
  position: relative;

  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-color);
}
/* ------------------------end about------------------------ */

/* ------------------------clients------------------------ */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.clients__link {
  display: block;
  padding: 57px 75px;
  outline: 1px solid rgba(230, 230, 230, 0.5);
}
.clients {
  text-align: center;
}
/* ------------------------end clients------------------------ */

/* ------------------------reviews------------------------ */
.reviews {
  background-color: var(--background-color);
}
.slider__button {
  cursor: pointer;
  border: 0px;
  background-color: var(--accent-color);
  border: 1px solid #16c7e4;
  border-radius: 5px;
  transition: box-shadow 250ms linear;
}
.slider__button:hover,
.slider__button:focus {
  box-shadow: 0px 8px 20px rgba(22, 199, 228, 0.4);
}

.slider-wraper {
  display: flex;
  justify-content: space-between;
}
.reviews__bottom-wraper {
  display: flex;
}
.reviews__left {
  position: relative;
  width: 920px;
  height: 435px;
  background-image: url(../images/jpg/reviews-back.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.reviews__right {
  padding: 30px 20px;
  background-color: var(--white);
  width: 285px;
  min-height: 435px;
}
.reviews__title {
  margin-bottom: 10px;
  font-family: var(--main-font);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--title-color);
}
.reviews__text {
  padding-right: 15px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
}
.reviews__text-accent {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--title-color);
}
.reviews__text--end {
  margin-bottom: 0px;
}
/* ------------------------end reviews------------------------ */

/* -------------------------blog----------------------- */
.blog {
  text-align: center;
}
.article__link {
  display: block;
}
.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article {
  width: 387px;
  outline: 1px solid #ededed;
  border-radius: 5px;
  transition: box-shadow 250ms linear;
}
.article:hover,
.article:focus {
  box-shadow: 0px 0px 25px rgba(22, 199, 228, 0.4);
}
.article__img {
  display: block;
}
.articles__item {
  margin-bottom: 40px;
}
.article__title {
  margin-bottom: 15px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--title-color);
  transition: color 250ms linear;
}
.article__link:hover .article__title,
.article__link:focus .article__title {
  color: var(--accent-color);
}
.article__text {
  flex-grow: 1;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color);
}
.article__date {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  color: var(--text-color);
}
.article__text-wraper {
  min-height: 318px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 27px 20px 29px 20px;
}
/* ------------------------- end blog----------------------- */

/* ------------------------- footer----------------------- */
.footer {
  background-color: #182c4e;
}
.footer-container {
  background-color: #182c4e;
  display: flex;
  justify-content: space-between;
}
.logo-link--footer {
  margin: 0px 0px 25px 0px;
  background-color: var(--white);
  transition: background-color 250ms linear;
}
.logo__icon--footer {
  fill: var(--text-color);
  transition: fill 250ms linear;
}
.logo-link--footer:hover {
  background-color: var(--accent-color);
}
.logo-link--footer:hover .logo__icon--footer {
  fill: var(--white);
}
.social-list__link--footer {
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 250ms linear;
}
.social-list__link--footer:hover,
.social-list__link--footer:focus {
  background-color: var(--accent-color);
}
.social-list__icon--footer {
  fill: var(--white);
}
.footer__title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms linear;
}
.services-footer__link,
.footer-contacts__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.8);
  transition: color 250ms linear;
}
.services-footer__link:hover,
.services-footer__link:focus {
  color: var(--accent-color);
}
.services-footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.footer-menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.footer-menu__link:hover,
.footer-menu__link:focus {
  color: var(--accent-color);
}
.footer-contacts__item:first-child {
  margin-bottom: 20px;
}
.footer-contacts__link {
  display: flex;
  align-items: center;
}
.footer-contacts__icon {
  margin-right: 10px;
}
/* -------------------------end footer----------------------- */

/* ------------------------- second page----------------------- */

/* ------------------------- about----------------------- */
.about-current {
  background-color: var(--white);
}
.container__page {
  padding-top: 26px;
}
.about__overhead {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #9d9d9d;

  margin-bottom: 26px;
}
.about__current {
  display: inline-flex;
  align-items: center;
  color: #656565;
}
.about__current::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #9d9d9d;

  margin: 0px 10px;
}
.about__text--second-page {
  padding: 0px;
  padding-right: 70px;
  margin-bottom: 30px;
  border: 0px;
}
.about__text-accent {
  font-size: 24px;
  line-height: 140%;
}

.about-list__item--second-page {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-color);
}
.about-list--second-page {
  padding: 0px;
  padding-right: 20px;
}
.about-list__text--second-page {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: var(--accent-color);

  margin-top: 15px;
}
.about-list__text--second-page::before {
  content: '+';
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  color: #e6e6e6;

  margin-right: 15px;
}
/* -------------------------end  about----------------------- */

/* ------------------------- team----------------------- */
.team {
  background-color: var(--background-color);
}
.article__text-wraper--second-page {
  min-height: 116px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 27px 20px 29px 20px;
}
.article-team {
  width: 387px;
  outline: 1px solid #ededed;
  border-radius: 5px;
  transition: box-shadow 250ms linear;
}
.article__text-team {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--title-color);
}
.articles__item--team {
  margin-bottom: 0px;
}
/* -------------------------end team----------------------- */

/* ------------------------- second page----------------------- */

/* -------------------------clients  page----------------------- */
.article__text-wraper--clients {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 27px 20px 29px 20px;
}

.button-clients {
  padding: 8px;
  margin: 0px;
  width: 151px;
  height: 38px;
  font-size: 16px;
}

/* -------------------------end clients  page----------------------- */

/* -------------------------clients  page----------------------- */

.container-form--contacts {
  width: 590px;
  padding: 30px;
  margin-top: 50px;
}
.question-form--contacts {
  width: 100%;
}
.question-form__input--contacts {
  width: 255px;
}
.contacts__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: var(--title-color);
}
.contacts__wraper {
  display: flex;
  justify-content: space-between;
}
.contacts__container {
  background-image: url(../images/jpg/contacts-men.png),
    radial-gradient(
      circle at bottom 100px left 450px,
      rgba(22, 199, 228, 0.3) 0%,
      rgba(22, 199, 228, 0) 40%
    );
  background-repeat: no-repeat;
  background-position: 200px 200px, bottom center;
  padding-top: 26px;
  padding-bottom: 214px;
}
.contacts__addres {
  margin-bottom: 36px;
}
.social-list__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  color: var(--title-color);
  margin-bottom: 12px;
}
.social-list__link--contacts {
  width: 54px;
  height: 54px;
}
.social-list__item--contacts:not(:last-child) {
  margin-right: 12px;
}
.footer-contacts__icon--contacts {
  margin-right: 15px;
}
.articles__item--gallery:nth-child(n + 6) {
  margin-bottom: 0px;
}
/* -------------------------end clients  page----------------------- */

/* -------------------------carrent-page----------------------- */
.carrent-page {
  color: var(--accent-color);
}
/* -------------------------carrent-page----------------------- */

/* -------------------------business-coaching-page------------------------------------------------------------------ */
.hero__button-wraper {
  display: flex;
  justify-content: space-between;
  width: 560px;
}

/* -------------------------designation---------------------- */
.designation__wraper-text {
  padding-right: 40px;
}
.designation__text-accent {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  color: black;
}
.designation__text {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
  color: var(--text-color);
  margin-bottom: 35px;
}
.designation__text-accent--title {
  margin-bottom: 15px;
}

/* -------------------------benefits---------------------- */
.benefits--services {
  background-color: var(--background-color);
}
.benefits__item--busines {
  position: relative;
  padding: 25px 40px 20px 133px;
  width: 590px;
  height: 180px;
  border: 1px solid #ededed;
  border-radius: 5px;
  overflow: hidden;
}
.benefits__item--busines:nth-child(2n + 1) {
  margin-right: 20px;
}
.benefits__item--busines:nth-child(-n + 8) {
  margin-bottom: 20px;
}
.benefits__item--busines::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-50%, -50%);
  width: 188px;
  height: 188px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.benefits__number--busines {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  text-transform: lowercase;
  color: #e8e8e8;
  transform: rotate(-90deg);
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.benefits__main-text--services::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/jpg/question.png);
  width: 25px;
  height: 36px;
  left: 20px;
  top: 20px;
  color: var(--white);
}
.benefits__main-text--services {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: var(--title-color);
}
.benefits__text--services {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color);
}
/* -------------------------benefits---------------------- */

/* -------------------------coaching-benefits---------------------- */
.coaching-benefits__container {
  background-image: url(../images/jpg/contacts-men.png);
  background-size: 520px;
  background-position: 335px 145px;
  background-repeat: no-repeat;
}
.coaching-benefits__wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coaching-benefits__item {
  position: relative;
  margin-bottom: 15px;
  width: 387px;
  padding: 25px 20px 25px 66px;
  border: 1px dashed #16c7e4;
  border-radius: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  color: var(--text-color);
}
.coaching-benefits__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0%, -50%);
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-right: 22px;
}
.coaching-benefits__text-accent {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3;
  color: var(--title-color);
}
.coaching-benefits__item:nth-child(n + 6) {
  margin-bottom: 0px;
}
.coaching-benefits__item:nth-child(2n + 1) {
  margin-right: 50px;
}
/*.coaching-benefits__item:first-child::after {
  position: absolute;
  content: '';
  right: -390px;
  top: 60px;
  display: block;
  width: 100%;
  height: 200px;
  background-image: url(../images/png/Arrow\ 1.png);
  background-repeat: no-repeat;
}
.coaching-benefits__item:hover .coaching-benefits__item:first-child::after {
  fill: #16c7e4;
}
*/
.coaching-benefits__icon {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 365px;
  top: 35px;
  display: block;
  transition: fill 500ms linear;
}
.coaching-benefits__icon {
  fill: #e8e8e8;
}

.coaching-benefits__item:hover .coaching-benefits__icon {
  fill: #16c7e4;
}

.secondary-form {
  min-height: 521px;
  background-image: url(../images/jpg/form-bk-two.jpg);
}
.secondary__question-form {
  width: 642px;
}
.secondary__question-form::after {
  content: '';
  display: block;
  width: 590px;
  height: 462px;
  background-image: url(../images/jpg/form-men-two.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 710px;
  top: 0px;
}

/*-- service-structure--*/
.service-structure__container {
  padding-bottom: 90px;
}
.service-structure__wraper {
  display: flex;
  justify-content: space-between;
}
.service-structure__item {
  position: relative;
  width: 685px;
  padding-left: 75px;
  padding-right: 50px;
}
.service-structure__item:not(:last-child) {
  margin-bottom: 50px;
}
.service-structure__number {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #16c7e4;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--white);
}
.service-structure__right {
  position: relative;
  background-color: var(--background-color);
  padding: 100px 35px 50px 25px;
  width: 387px;
  height: 318px;
}
.service-structure__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: var(--title-color);
}
.service-structure__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}
.attention--text::before {
  position: absolute;
  top: 30px;
  left: 25px;
  content: '!';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: var(--accent-color);
}
.attention--text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
  color: #707070;
}
.service-structure__left {
  position: relative;
}

.service-structure__list::after {
  content: '';
  position: absolute;
  top: 360px;
  left: -306px;
  width: 663px;
  height: 2px;
  display: block;
  background-color: #d1d1d1;
  transform: rotate(90deg);
  z-index: -1;
}
/*--service-structure end--*/

/*-- case--*/
.case__item {
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 40px;
}
.case__item:not(:first-child) {
  padding-top: 40px;
}
.case__video {
  position: relative;
  background-image: url(../images/jpg/reviews-back.jpg);
  width: 572px;
  height: 308px;
  margin: 0px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}
.case__video::before {
}
.case__text {
  padding-left: 10px;
  width: 590px;
}
.case__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: var(--title-color);
  margin-bottom: 13px;
}
.case__undertitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: #858585;
  margin-bottom: 20px;
}
.case__main-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-color);
}
.button__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  width: 47px;
  height: 47px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

/*-----------------------------------end case--*/

/*-----------------------------------questions----------------*/

.questions {
  background-color: var(--background-color);
}
.questions__item {
  background-color: var(--white);
}
.questions__item:not(:last-child) {
  margin-bottom: 10px;
}
.questions__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--title-color);
}

/*-----------------------------------questions----------------*/
.accordion {
  background-color: var(--white);
  cursor: pointer;
  padding: 16px 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 250ms linear;
}

/*.questions__item:hover,
.questions__item:hover .accordion {
  background-color: var(--background-color);
}*/

.accordion:after {
  content: '+';
  color: var(--title-color);
  font-weight: bold;
  font-size: 25px;
  float: right;
  margin-left: 5px;
  transition: transform 250ms linear;
}

.active:after {
  transform: rotate(-135deg);
  color: var(--accent-color);
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.questions__text {
  padding: 16px 30px;
}

/*-----------------------------------слайдер----------------*/
.slider__wrapper {
  overflow: hidden;
}

.slider__item {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;
}
